.container{
    width:100%;
    height:auto;
}
*{
    margin: 0%;
    padding: 0%;
}
.card{
    width:100%;
    height: 70px;
    display: flex;
}
.cardA{
    width: 20%;
    height: 70px;
}
#cardAi{
    width: 60%;
    height: 70px;
}
.cardB{
    width: 20%;
    height: 70px;
}
.fa-circle-stop{
    margin: 23px 30px;
    font-size: 30px;
}
.text{
    display: inline;
    font-size: 20px;
}
.shape{
    width: 35%;
    height:70px;
    border: 1px solid  wheat;
    margin-left: 30%;
}
.fa-laptop{
    margin: 25px 40px;
    font-size: 25px;
}
.fa-tablet-screen-button{
    font-size: 25px;
}
.fa-mobile-screen-button{
    font-size: 25px;
    margin-left: 40px;
}
.button{
    width: 60%;
    height: 40px;
    border: 1px solid blue;
    margin: 15px 50px;
    background-color: blue;
    border-radius: 20px;
    color: white;
}
.card1{
    width: 100%;
    height: 70px;
    display: flex;
}
.card1A{
    width: 20%;
    height: 70px;
    border: 1px solid  whitesmoke;
    background-image: url(./image/1.png);
    background-size: 100% 100%;
}
#card1AI{
    width: 80%;
    height: 70px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 60px;
}
.list{
    list-style: none;
    font-size: 15px;
}
.list:hover{
    color: red;
}
.buttonA{
    width: 14%;
    height: 45px;
    border: 1px solid yellow;
    margin-left: 150px;
    background-color: yellow;
    font-size: 18px;
}
.buttonA:hover{
    cursor: pointer;
    color: brown;
    background: white;
}
.Section{
    width: 100%;
    height: 500px;
    background-image: url(./image/3.png);
    background-size: 100% 100%;
}
.Section1-a{
    width: 100%;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.304);
    color: white;
}
.text2{
   color: blue;
   padding-left: 90px;
   padding-top: 120px;
   font-size: 80px;
}
.text3{
    color: white;
    padding-left: 70px;
    padding-top: 20px;
}
.buttonB{
    width: 7%;
    height: 50px;
    border: 1px solid  yellow;
    background-color: yellow;
    margin-left:70px;
    margin-top: 30px;
}
.fa-arrow-right{
    font-size: 20px;
}
.section2{
    width: 100%;
    height: 250px;
    margin-top: 150px;
}
.fa-square-up-right{
    padding-left: 40px;
    padding-top: 30px;
}
.text4{
    padding-left: 30px;
    font-size: 48px;
    padding-top: 20px;
}
.buttonC{
    width: 5%;
    height: 50px;
    border: 1px solid  black;
    background-color: black;
    margin-left: 40px;
    margin-top: 30px;
    color: white;
}
.fa-arrow-right-long{
    font-size: 25px;
}
.section3{
    width: 100%;
    height: 350px;
    margin-top: 50px;
    display: flex;
}
.section3A{
    width: 30%;
    height: 250px;
    margin-left: 30px;
    background-image: url(./image/4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.text5{
    padding-top: 270px;
    padding-left: 5px;
    font-size: 25px;
}
.section3B{
    width: 30%;
    height: 250px;
    margin-left: 30px;
    background-image: url(./image/5.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section3C{
    width: 30%;
    height: 250px;
    margin-left: 30px;
    background-image: url(./image/6.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section4{
    width: 100%;
    height: 650px;
    background-image: url(./image/7.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 70px;
    color: white;
    font-size: 35px;
}
.section4AB{
    width: 50%;
    height: 450PX;
    border-left: 1px solid white;
    margin: 50PX 70PX;
}
.fa-arrows-turn-right{
    padding-left: 60px;
    padding-top: 80px;
    color: white;
}
.text7{
    padding-left:60px;
    padding-top: 20px;
    font-size: 45px;
}
.text8{
    padding-left: 60px;
    padding-top: 20px;
    font-size: 25px;
}
.section5{
    width: 100%;
    height: 40px;
    margin-top: 50px;
    display: flex;
}
.sectionAi{
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    background-color: rgba(169, 169, 169, 0.342);
}
.section6{
    width: 100%;
    height: 200px;
    background-color: rgba(169, 169, 169, 0.342);
    display: flex;
}
.section6A{
    width: 15%;
    height: 100px;
    margin: 60px 60px;
    background-image: url(./image/9.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section6B{
    width: 15%;
    height: 100px;
    margin: 60px 60px;
    background-image: url(./image/10.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section6C{
    width: 15%;
    height: 100px;
    margin: 60px 60px;
    background-image: url(./image/11.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section6D{
    width: 15%;
    height: 100px;
    margin: 60px 60px;
    background-image: url(./image/12.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section6E{
    width: 15%;
    height: 100px;
    margin: 60px 60px;
    background-image: url(./image/13.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section8{
    width: 100%;
    height: 400px;
    margin-top: 60px;
    display: flex;
}
.section8A{
    width: 32%;
    height: 350px;
    margin-left: 20px;
    background-image: url(./image/14.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section8B{
    width: 32%;
    height: 350px;
    margin-left: 20px;
    background-image: url(./image/17.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section8C{
    width: 32%;
    height: 350px;
    margin-left: 20px;
    background-image: url(./image/18.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.text9{
    padding-top: 350px;
    padding-left: 7px;
    font-size: 25px;
}
.text10{
    padding-left: 5px;
}
.section9{
    width: 100%;
    height: 250px;
    background-color: rgba(255, 255, 0, 0.708);
    margin-top: 50px;
}
.text11{
    text-align: center;
    padding-top: 40px;
    font-size: 50px;
}
.buttonD{
    width: 12%;
    height: 40px;
    background-color: black;
    color: yellow;
    font-size: 20px;
    margin: 30px 500px;
}
.buttonD:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}
.section10{
    width: 100%;
    height: 350px;
    margin-top: 50px;
    display: flex;
    background-color: rgba(169, 169, 169, 0.203);
}
.section10AB{
    width: 100%;
    height: 350px;
    display: flex;
}
.section10A{
    width: 22%;
    height: 350px;
    margin-left: 30px;
}
.section10Ai{
    width: 100%;
    height: 150px;
    background-image: url(./image/2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.section10B{
    width: 22%;
    height: 350px;
    margin-left: 30px;
}
.section10C{
    width: 22%;
    height: 350px;
    margin-left: 30px;
}
.section10D{
    width: 22%;
    height: 350px;
    margin-left: 30px;
}
.text12{
    padding-top: 200px;
    padding-left: 20px;
    color: blue;
}
.text13{
    text-align: center;
    padding-top: 20px;
    color: brown;
}
.text14{
    padding-left: 30px;
    padding-top: 40px;
}
.text15{
    padding-left: 30px;
    padding-top:40px;
}
.text16{
    padding-left: 30px;
    padding-top:40px;
}
.text17{
    padding-left: 30px;
    padding-top:40px;
}
.section11{
    width: 100%;
    height: 90px;
    background-color: rgba(169, 169, 169, 0.203);
    display: flex;
    justify-content: space-between;
}
.section11A{
    width: 48%;
    height: 90px;
    margin-left: 15px;
    justify-content: space-between;
}
.section11B{
    width: 48%;
    height: 90px;
    margin-left: 15px;
    justify-content: center; 
    align-content: center;
    padding-left: 400px;
}
.list1{
    list-style: none;
    text-indent: 20px;
}
.text18{
    text-align: center;
    padding-top: 30px;
}
.fa-copyright{
    color:black;
    font-size: 20px;
}
.section12{
    width: 100%;
    height: 60px;
}
.text19{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}